practice-04-capstone/flows.json
[
  {
    "id": "tab-example",
    "type": "tab",
    "label": "Example",
    "disabled": false,
    "info": "Hello-world reference flow. You can delete this tab when you are done."
  },
  {
    "id": "example-http-in",
    "type": "http in",
    "z": "tab-example",
    "name": "GET /hello",
    "url": "/hello",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 140,
    "y": 80,
    "wires": [["example-fn"]]
  },
  {
    "id": "example-fn",
    "type": "function",
    "z": "tab-example",
    "name": "Say hello",
    "func": "msg.payload = { message: 'Hello from Node-RED!' };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 320,
    "y": 80,
    "wires": [["example-http-out"]]
  },
  {
    "id": "example-http-out",
    "type": "http response",
    "z": "tab-example",
    "name": "HTTP Response",
    "statusCode": "200",
    "headers": { "content-type": "application/json" },
    "x": 520,
    "y": 80,
    "wires": []
  },
  {
    "id": "tab-orchestration",
    "type": "tab",
    "label": "Orchestration",
    "disabled": false,
    "info": "Main business process flow.\nBuild the happy path here: order intake → routing → payment → inventory → notification → response.\nAlso wire in the error paths that lead to the Error Handling tab."
  },
  {
    "id": "orch-intake",
    "type": "http in",
    "z": "tab-orchestration",
    "name": "TODO: Define your entry point\n(e.g. POST /order or POST /checkout)",
    "url": "/order",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 160,
    "y": 80,
    "wires": [["orch-router"]]
  },
  {
    "id": "orch-router",
    "type": "function",
    "z": "tab-orchestration",
    "name": "TODO: Content-Based Router\nRoute by orderType (standard / express / b2b)\nUse a switch node or routing logic here.\nDo NOT implement all logic in a single function node.",
    "func": "// TODO: implement Content-Based Router\n// Read msg.payload.orderType and route accordingly\n// Consider using a separate switch node instead of this function node\nnode.error('Content-Based Router not implemented');\nreturn null;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 80,
    "wires": [[]]
  },
  {
    "id": "orch-payment",
    "type": "http request",
    "z": "tab-orchestration",
    "name": "TODO: Call Payment Service\nPOST /payment/authorize\nInclude correlationId in header and body",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 420,
    "y": 200,
    "wires": [[]]
  },
  {
    "id": "orch-inventory",
    "type": "http request",
    "z": "tab-orchestration",
    "name": "TODO: Call Inventory Service\nPOST /inventory/reserve\nOnly call if payment succeeded",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 420,
    "y": 320,
    "wires": [[]]
  },
  {
    "id": "orch-notification",
    "type": "http request",
    "z": "tab-orchestration",
    "name": "TODO: Call Notification Service\nPOST /notification/send\nOnly call if inventory reserved",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 420,
    "y": 440,
    "wires": [[]]
  },
  {
    "id": "orch-response",
    "type": "http response",
    "z": "tab-orchestration",
    "name": "TODO: Return orchestration result\nInclude { orderId, correlationId, status, trace: [...] }",
    "statusCode": "",
    "headers": { "content-type": "application/json" },
    "x": 700,
    "y": 440,
    "wires": []
  },
  {
    "id": "tab-error-handling",
    "type": "tab",
    "label": "Error Handling",
    "disabled": false,
    "info": "Compensation and error flows.\nWire these nodes into the Orchestration tab when a step fails.\nCompensation must run in REVERSE ORDER of the steps that succeeded."
  },
  {
    "id": "eh-release-inventory",
    "type": "function",
    "z": "tab-error-handling",
    "name": "TODO: Compensation Step 1\nRelease Inventory\nPOST /inventory/release\nRun this FIRST if shipping/notification failed after inventory reserved",
    "func": "// TODO: call inventory-service POST /inventory/release\n// Include orderId, correlationId, reservationId in the request body\n// After successful release, pass to Compensation Step 2 (refund)\nnode.error('Inventory release not implemented');\nreturn null;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 220,
    "y": 120,
    "wires": [[]]
  },
  {
    "id": "eh-refund-payment",
    "type": "function",
    "z": "tab-error-handling",
    "name": "TODO: Compensation Step 2\nRefund Payment\nPOST /payment/refund\nRun this SECOND (after inventory released, or if inventory failed)",
    "func": "// TODO: call payment-service POST /payment/refund\n// Include orderId, correlationId, transactionId in the request body\n// After successful refund, build the 'compensated' response\nnode.error('Payment refund not implemented');\nreturn null;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 220,
    "y": 240,
    "wires": [[]]
  },
  {
    "id": "eh-dlq",
    "type": "function",
    "z": "tab-error-handling",
    "name": "TODO: Dead Letter Channel\nHandle unrecoverable failures\n(e.g. compensation itself fails, or max retries exceeded)",
    "func": "// TODO: implement Dead Letter Channel handling\n// Options:\n//   - Log the failed message to a file\n//   - Publish to a RabbitMQ DLQ (bonus)\n//   - Store in a dead-letter in-memory queue with admin GET endpoint\n// The message here is permanently unprocessable — log it for manual review\nnode.warn('Dead letter: ' + JSON.stringify(msg.payload));\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 220,
    "y": 360,
    "wires": [[]]
  },
  {
    "id": "eh-debug",
    "type": "debug",
    "z": "tab-error-handling",
    "name": "TODO: Log dead letter for admin inspection",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 500,
    "y": 360,
    "wires": []
  },
  {
    "id": "tab-admin",
    "type": "tab",
    "label": "Admin",
    "disabled": false,
    "info": "Health check and debugging endpoints.\nThe /health endpoint is already wired and working.\nAdd a /trace/:orderId endpoint to help debug your orchestration flow."
  },
  {
    "id": "admin-health-in",
    "type": "http in",
    "z": "tab-admin",
    "name": "GET /health",
    "url": "/health",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 140,
    "y": 80,
    "wires": [["admin-health-fn"]]
  },
  {
    "id": "admin-health-fn",
    "type": "function",
    "z": "tab-admin",
    "name": "Health response",
    "func": "msg.payload = { status: 'ok', service: 'node-red' };\nmsg.statusCode = 200;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 320,
    "y": 80,
    "wires": [["admin-health-out"]]
  },
  {
    "id": "admin-health-out",
    "type": "http response",
    "z": "tab-admin",
    "name": "HTTP Response",
    "statusCode": "200",
    "headers": { "content-type": "application/json" },
    "x": 520,
    "y": 80,
    "wires": []
  },
  {
    "id": "admin-trace-in",
    "type": "http in",
    "z": "tab-admin",
    "name": "TODO: GET /trace/:orderId\nReturn saga trace for debugging",
    "url": "/trace/:orderId",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 160,
    "y": 200,
    "wires": [[]]
  }
]
